body{
    background-color: white;
}

h1 {
    color: brown;
    margin-left: 30px;
}
 

.header{
    background-color:cadetblue;
    display: flex   ;
    justify-content: space-between;
}

a:link{
    color: white;
}

a:visited{
    color: yellow;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    
}

.menu{
    margin-right: 20px;
}

.menu a{
    margin-left: 20px;
}



.footer{
    display: flex;
    justify-content: flex-end;
}

.item{
    position: relative;
    margin-right: 50px;
}

.item p{
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}
